<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add New Album</title>
    <link rel="stylesheet" type="text/css" href="/form.css">
</head>
<body>
    <form action="/new" method="post">
        <label for="artist">Artist:</label>
        <br>
        <input type="text" name="artist" id="artistInput">
        <br>
        <label for="album">Album:</label>
        <br>
        <input type="text" name="album" id="albumInput">
        <br>
        <label for="genre">Genre:</label>
        <br>
        <input type="text" name="genre" id="genreInput">
        <br>
        <button type="submit">Submit</button>
    </form>
</body>
</html>